#root {
  max-width: 64rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  place-items: center;
}

.chat {
  height: 80%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.chat-header {
  padding: 1rem;
  flex: 0 0 auto;
  border-bottom: 2px solid #d6d6d6;
}

.chat-messages {
  overflow-y: auto;
  padding: 1rem;
  flex: 1 1 auto;
}

.message {
  gap: 0.5rem;
  display: flex;
  align-items: end;
}

.message + .message {
  margin-top: 1rem;
}

.avatar {
  height: 3rem;
}

.message-sender {
  font-size: 0.9rem;
  font-weight: 600;
}

.message-text {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  background-color: #ebebeb;
}

.message-time {
  align-self: flex-end;
  font-size: 0.8rem;
  font-weight: 600;
  color: #6b6b6b;
}

.message-input {
  padding: 1rem;
  flex: 0 0 auto;
  display: flex;
  gap: 1rem;
  border-top: 2px solid #d6d6d6;
}

.input {
  height: auto;
  flex: 1 1 auto;
  padding: 0.5rem;
  resize: none;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 0.5rem;
  border-color: transparent;
  background-color: #ebebeb;
}

.input::placeholder {
  color: #adadad;
}

.sender-select {
  appearance: none;
}

.send-btn {
  color: #F1F1F1;
  background-color: #1e1e1e;
}
