#root {
  max-width: 64rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  place-items: center;
}

.chat {
  height: 80%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.chat-header {
  padding: 1rem;
  flex: 0 0 auto;
  border-bottom: 2px solid #d6d6d6;
}

.chat-messages {
  overflow-y: auto;
  padding: 1rem;
  flex: 1 1 auto;
}
